<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header class="navbar">
        <nav>
            <ul class="menu">
                <li><a href="#spammer">Спаммер</a></li>
                <li><a href="#inviter">Инвайтер</a></li>
                <li><a href="#parser">Парсер</a></li>
                <li><a href="#sessions">Сессии</a></li>
                <li><a href="#settings">Настройки</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
